/* Generales */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #E6F4F1;
}

li{
    list-style-type: none;
}

p{
    padding: 5px;
}

button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Menu usuario */

.bar-log{
    background-color: #96C5F7;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.menu-user ul{
    display: flex;
}

.menu-user li{
    margin: 5px;
}

/* Menu de navegación de páginas */

.bar-pages{
    background-color: #61DBFF;
    display: flex;
    justify-content: space-between;
}

.bar-pages ul{
    display: flex;
}

.bar-pages li{
    margin: 10px;
}

.bar-pages-left{
    display: flex;
    align-items: center;
}

.bar-pages-rigth{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.bar-pages-rigth img{
    margin: 10px;
}

/* Pie de página */

footer{
    background-color: #61DBFF;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-rigth{
    display: flex;
    margin: 10px;
}

.social-networks, .shipping-forms, .contact{
    margin: 10px;
}

.contact a{
    display: flex;
    align-items: center;
}

.contact span{
    margin: 5px;
}

.social-networks img, .shipping-forms img, .extra-icon{
    margin: 5px;
}

/* Cuerpo principal index */

.box-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1{
    margin: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
}

.box{
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

/* Cuerpo principal busqueda */

.box-search{
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-search{
    width: 80%;
    margin: 5px;
}

/* Cuerpo principal carrito_de_compra */

.box-info-products{
    display: flex;
    flex-direction: column;
}

.box-info-product{
    margin: 10px;
    padding: 20px;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
}

.info-product{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-shop{
    text-align: end;
    margin: 30px;
}

.nav-shop li{
    padding: 10px;
}