/* Generales */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

/* Menu usuario */

.bar-log{
    background-color: #96C5F7;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.menu-user ul{
    display: flex;
}

.menu-user li{
    margin: 5px;
}

/* Menu de navegación de páginas */

.bar-pages{
    background-color: #61DBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-pages ul{
    display: flex;
}

.bar-pages li{
    margin: 10px;
}