/* Generales */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #E6F4F1;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
    padding: 10px;
}

p{
    padding: 5px;
    text-align: justify;

}

.btn{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.icons{
    object-fit: contain;
    padding: 5px;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 15% auto 15%;
}

@media(max-width:650px){
    .occult{
        display: none;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
    }
}

/* HEADER */

.flex-header{
    display: flex;
    flex-direction: column;
}

/* HEADER - BARRA DE LOGUEO */

.nav-log{
    background-color: #96C5F7;
    display: flex;
    justify-content: flex-end;
}

.menu-user{
    display: flex;
    align-items: center;
}

@media (max-width: 650px) {
    .nav-log{
        display: flex;
        justify-content: space-between;
    }
}

/* HEADER - BARRA DE PAGINAS */

.flex-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar{
    background-color: #61DBFF;
}

/* MAIN CON BOOTSTRAP */

.card{
    margin: 20px;
}

.card .btn{
    width: 90%;
}

.btn-toolbar{
    display: flex;
    justify-content: center;
}

.toast-header{
    background-color: rgba(0, 255, 255, 0.413);
}

/* FOOTER */

.flex-footer{
    background-color: #61DBFF;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-rigth{
    display: flex;
    margin: 10px;
}

.social-networks, .shipping-forms, .contact{
    margin: 10px;
}

.contact a{
    display: flex;
    align-items: center;
}

.contact span{
    margin: 5px;
}

.social-networks img, .shipping-forms img, .extra-icon{
    margin: 5px;
}